---
import Layout from './Layout.astro'
import GitHubIcon from '../components/GitHubIcon.astro'
import { enginesData } from '../config'

const { engine } = Astro.props
const {
  engineList,
  engineNameMap,
  engineColorMap,
  engineSiteMap,
  modeList,
  modeNameMap,
  sceneList,
  sceneNameMap,
  zoomList,
  zoomNameMap,
  totalList,
  totalNameMap,
} = enginesData
---

<Layout title={engine} keywords="" description="">
  <div id="nav">
    <div id="engines">
      <a
        href="https://github.com/leaferjs/canvas-benchmark"
        target="_blank"
        id="logo"
        class="case-button engine"
        style="color: black;padding-left: 38px;"
      >
        <GitHubIcon />
        Benchmark
      </a>
      {
        engineList.map((item) =>
          engine !== item ? (
            <a
              target="_blank"
              data-engine={item}
              class="case-button engine"
              onclick="try { self.close() } catch (e) {}"
            >
              {engineNameMap[item]}
            </a>
          ) : (
            <a
              class="case-button selected"
              style={'color:' + engineColorMap[item]}
            >
              {engineNameMap[item]}
            </a>
          )
        )
      }
      <a
        id="more-engine-button"
        href="/"
        target="_blank"
        class="case-button engine"
        onclick="return false"
      >
        more
      </a>
    </div>

    <div>
      {
        sceneList.map((item) => (
          <a
            data-engine={engine}
            data-scene={item}
            data-color={engineColorMap[engine]}
            target="_blank"
            class="case-button scene"
            onclick="try { self.close() } catch (e) {}"
          >
            {sceneNameMap[item]}
          </a>
        ))
      }
      <a
        id="more-scene-button"
        href="/"
        target="_blank"
        class="case-button scene"
        onclick="return false"
      >
        more
      </a>
    </div>

    <div id="total-list">
      {
        totalList.map((item) => (
          <a
            data-engine={engine}
            data-total={item}
            data-color={engineColorMap[engine]}
            target="_blank"
            class="case-button total"
            onclick="try { self.close() } catch (e) {}"
          >
            {totalNameMap[item]}
          </a>
        ))
      }
    </div>

    <div>
      {
        modeList.map((item) => (
          <a
            data-engine={engine}
            data-mode={item}
            data-color={engineColorMap[engine]}
            target="_blank"
            class="case-button mode"
            onclick="try { self.close() } catch (e) {}"
          >
            {modeNameMap[item]}
          </a>
        ))
      }
      <span></span>
      {
        zoomList.map((item) => (
          <a
            data-engine={engine}
            data-zoom={item}
            data-color={engineColorMap[engine]}
            target="_blank"
            class="case-button zoom"
            onclick="try { self.close() } catch (e) {}"
          >
            {zoomNameMap[item]}
          </a>
        ))
      }

      <span></span>
      <a
        href={engineSiteMap[engine]}
        target="_blank"
        rel="noopener noreferrer"
        class="case-button zoom"
      >
        🔗 {engineNameMap[engine]} website
      </a>
    </div>
  </div>

  <div id="view"></div>

  <div id="js-memory">JS Memory</div>
  <div id="first-time">First Time</div>

  <a
    id="github-button"
    href="https://github.com/leaferjs/canvas-benchmark"
    aria-label="github"
    target="_blank"
    rel="noopener noreferrer"
  >
    <GitHubIcon />
    View Source Code
  </a>
</Layout>
<script>
  import { siteConfig, enginesData } from '../config'
  import { getUrlParam, getId } from '../core/h5'

  const { defaultScene, defaultMode, defaultZoom, defaultTotal } = enginesData

  window.addEventListener('load', () => {
    const sceneParam = getUrlParam('scene'),
      scene = sceneParam || defaultScene
    const modeParam = getUrlParam('mode'),
      mode = modeParam || defaultMode
    const zoomParam = getUrlParam('zoom')
    let zoom = zoomParam || defaultZoom
    const totalParam = getUrlParam('total'),
      total = totalParam || String(defaultTotal)

    if (scene === 'image' || scene === 'largeImage') {
      getId('total-list').style.display = 'none'
      zoom = 'fit'
    }

    function getButtonLink(button: Element): string {
      const engineName = button.getAttribute('data-engine')
      let sceneName = button.getAttribute('data-scene')
      let modeName = button.getAttribute('data-mode')
      let zoomName = button.getAttribute('data-zoom')
      let totalName = button.getAttribute('data-total')
      const color = button.getAttribute('data-color')
      if (
        sceneName === scene ||
        modeName === mode ||
        zoomName === zoom ||
        totalName === total
      ) {
        button.classList.add('selected')
        ;(button as HTMLElement).style.color = color as string
        return ''
      } else {
        const params = []
        if ((sceneName = sceneName || sceneParam) && sceneName !== defaultScene)
          params.push('scene=' + sceneName)
        if ((modeName = modeName || modeParam) && modeName !== defaultMode)
          params.push('mode=' + modeName)
        if ((zoomName = zoomName || zoomParam) && zoomName !== defaultZoom)
          params.push('zoom=' + zoomName)
        if (
          (totalName = totalName || totalParam) &&
          totalName !== String(defaultTotal)
        )
          params.push('total=' + totalName)
        return params.length
          ? siteConfig.baseDir + '/' + engineName + '?' + params.join('&')
          : siteConfig.baseDir + '/' + engineName + ''
      }
    }

    ;['.engine', '.scene', '.mode', '.zoom', '.total'].forEach((name) => {
      document.querySelectorAll(name).forEach((item) => {
        if (!item.getAttribute('href'))
          item.setAttribute('href', getButtonLink(item))
      })
    })

    getId('more-engine-button').addEventListener('click', () => {
      alert(
        'More Canvas engines will be continuously updated. \n\n 更多Canvas引擎将会持续更新。'
      )
    })

    getId('more-scene-button').addEventListener('click', () => {
      alert(
        'More test scenarios will be continuously updated. \n\n 更多测试场景将会持续更新。'
      )
    })

    getId('js-memory').addEventListener('click', () => {
      alert(
        `Currently, only the JS thread memory is displayed. To view SVG/HTML/Canvas memory usage, use the browser's memory manager: Chrome (Window > Task Manager), Edge (More tools > Browser Task Manager). \n\n当前显示仅为JS线程内存，SVG/HTML/Canvas需通过浏览器查看内存占用: Chrome（窗口 > 任务管理器）， Edge（更多工具 > 浏览器任务管理器）。`
      )
    })
    getId('first-time').addEventListener('click', () => {
      alert(
        `Currently displayed as the first-screen rendering time. \n\n 当前显示为首屏渲染时间。`
      )
    })
  })
</script>
<style lang="scss" is:global>
  body {
    font-family: 'SF Mono', 'Monaco', 'Consolas', 'Courier New', monospace;
  }

  #view {
    position: absolute !important;
    top: 180px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #f2f2f2;
  }

  #nav {
    padding: 20px 0 10px 10px;
  }

  #logo {
    svg {
      position: absolute;
      top: 24px;
      left: 20px;
      width: 22px;
    }
  }

  #engines {
    margin-bottom: 8px;
  }

  .engine,
  .scene,
  .total,
  .mode,
  .zoom {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
    &:hover {
      color: #000;
    }
  }

  .scene {
    padding: 0px 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: #888;
    &:hover {
      color: #111;
    }
  }

  .total,
  .mode,
  .zoom {
    padding: 0px 10px;
    font-size: 12px;
    color: #777;
    font-weight: normal;
    &:hover {
      color: #111;
    }
  }

  #js-memory {
    position: fixed;
    top: 205px;
    left: 105px;
    color: #db0087b3;
    font-size: 10px;
    z-index: 10000000;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #db0087;
    }
  }

  #first-time {
    position: fixed;
    top: 205px;
    left: 185px;
    color: #04db009f;
    font-size: 10px;
    z-index: 10000000;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #04db00;
    }
  }

  #github-button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 20px;
    border-top-left-radius: 100px;
    fill: #777;
    color: #777;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: fill 0.3s;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    svg {
      width: 40px !important;
      margin-bottom: 10px;
    }
    &:hover {
      fill: #000;
      color: #000;
    }
  }
</style>
